table {
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid black;
  }

.expired {
    background-color: red;
}

.row {
    background-color: greenyellow;
}

thead {
    font-size: 16px;
    font-weight: bold;
    background-color: lightblue;

}